@use './variables' as v;

@font-face {
  font-family: Manrope;
  src: url(../assets/font/Manrope-SemiBold.ttf);
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.component-container {
  font-family: Manrope;
  font-size: v.$size-mainText;
  color: v.$color-mainText;
  position: relative;
  padding: 1px;
  padding-bottom: 6rem;
  .background1 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -20;
    background-color: rgb(250, 250, 251);
  }
  .background2 {
    position: absolute;
    background-color: v.$color-mainBackground;
    background-image: url(../assets/images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15rem;
    width: 100%;
    height: 27rem;
    border-radius: 0 0 0 35%;
    z-index: -10;
  }
  header {
    margin: 8rem auto;
    width: fit-content;
    text-align: center;
    h1 {
      color: v.$color-header;
      margin-bottom: 0.8rem;
    }
    p {
      font-size: 1rem;
      line-height: 1.7rem;

    }
  }
}
